


/* css for pic landing Page */
.landingPage
{
   background-image: url(../pic/LandingNEW.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 100vh;
}


/* css for title landing page  */
.TitleInLandingPage
{
    font-weight:bolder;
    font-size: larger;
    color: white;
    text-align: center;
    padding-top: 9.5em;

}
.TitleInLandingPage>h1>pre>span
{
    color:rgb(187, 8, 121);
    font-weight:bolder;
    font-size:xx-large;
    font-family:'Times New Roman', Times, serif;
}


/* CSS TO SHOW BUTTON SHOP AND BOOK */
#buttonsBookShop
{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

}

.BUTTONLANDING>button
{
    color: aliceblue;
     border-color: rgb(187, 8, 121);
     margin: 6px;
}


.BUTTON>button
{
     color: aliceblue;
     border-color: rgb(187, 8, 121); 
     background-color:  rgb(166, 29, 116);

}

@keyframes scroll
{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 2));
    }
}
.slider
{
    height: 100px;
    margin: auto;
    overflow: hidden;
    position:relative;
    width: auto;
    padding: 3%;
}

.slider .slide-track
{
    animation: scroll 10s linear infinite;
    display: flex;
    width:calc(250 * 10);
}

.slider .slide
{
    height: 100px;
    width:250px;
}




.cut_pic{
    width:100% ;
    margin-top: 4%;
    display: flex;
    padding: 3%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: #f2f5f8;
    
}

.cut
{
    color:#676c71;
    font-family:'Times New Roman', Times, serif
}

#category
{
    width:100% ;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 3%;

    }
    

    #category>div
    {
        border: 0px solid;
        box-shadow: 10px 10px 10px 2px  #676c71;
        border-radius: 2%;
        
    }



    .SaleProduct
    {
        margin-top: 4%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 3%;
    }

    


    .sale_product>h5
    {
        margin-top: 8%;
       text-align: center;
        color:#676c71;
        font-family: 'Times New Roman', Times, serif;
    }

    .sale_product>h2
    {
       text-align: center;
        color:black;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 3%;  
    }

    .arrow>i
    {
    margin-top: 110px;
    font-size: xx-large;
    color: rgb(166, 29, 116);
    }



    .sectionPrice
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 7%;
        margin-right: 7%;
        margin-bottom: 7%;
      

    }

    #PoxPricePairent
    {
        height: auto;
        width: 70%;
        padding: 3%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #e0e4e8;
      align-items: center;
      border: 0px solid;
      box-shadow: 10px 10px 10px 2px  rgb(100, 43, 79);
    }


#PoxPricePairent>div
{
 margin-bottom: 2%;
 width: 60%;
 background-color: #f5f8fc;
 padding: 3%;
 border: 0px solid;
 box-shadow: 10px 10px 10px 2px  #676c71;
 border-radius: 2%;
}


/* #PoxPricePairent>div>h3 */
#PoxPricePairent>div>div>h3
{
 font-family: 'Times New Roman', Times, serif;
 font-weight: bold;

}

#PoxPricePairent>div>div>h4
{
 font-family: 'Times New Roman', Times, serif;
 color: #676c71;
 
}

.containerDiscount
{
    margin: 5%;
}


/* icon soscial media in footer */
.icons>i
{
    color:rgb(166, 29, 116);
}